.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    height: 1400px;
}

.profile-picture {
width: 150px;
height: 150px;
border-radius: 50%;
overflow: hidden;
position: relative;
margin-bottom: 5px;
border: 1px solid #ccc;
}

.profile-picture img {
width: 100%;
height: 100%;
object-fit: cover;
}

.profile-placeholder {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
background-color: #f0f0f0;
cursor: pointer;
position: absolute;
top: 0;
left: 0;
}

.profile-placeholder span {
font-size: 48px;
color: #333333;
}

.profile-form {
display: flex;
flex-direction: column;
width: 100%;
max-width: 400px;
}

.profile-form input, .profile-form select {
margin-bottom: 4px;
padding: 10px;
border: 1px solid #d5d5e7;
border-radius: 5px;
font-size: 16px;
}

#file-input{
    display: none;
}

.profile-form select {
cursor: pointer;
}

.buttons {
display: flex;
justify-content: space-between;
}

.buttons button {
padding: 10px 20px;
border: none;
border-radius: 5px;
background-color: #007bff;
color: #fff;
font-size: 16px;
cursor: pointer;
margin-top: 20px;
}

.buttons button:hover {
background-color: #0056b3;
}

@media only screen and (max-width:600px) {
    .profile-container {
        width: 70%;
        margin: auto;
    }
    
}