.community {
    margin: 20px;
}
.community-header{
    padding: 30px;
}
.community-header p{
    color: #007bff;
}
.user-list {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
}

.user-card {
display: flex;
flex-direction: column;
align-items: center;
margin: 10px; 
}

.user-card img {
width: 40%;
height: auto; 
border-radius: 50%;
cursor: pointer;
}

.user-details {
padding: 10px;
background-color: #f0f0f0;
text-align: center;
}

.user-details h3 {
margin-bottom: 5px;
cursor: pointer;
}

.chatbox {
width: 100%; 
padding: 10px;
background-color: #e6e6e6;
margin-top: 10px;
}
.pagination {
margin-top: 20px;
text-align: center;
}

.pagination button {
background-color: #007bff;
color: white;
border: none;
padding: 10px 20px;
margin: 0 5px;
cursor: pointer;
}

.pagination button:hover {
background-color: #0056b3;
}
  