.community {
    margin: 20px;
}
.community-header{
    padding: 30px;
}
.community-header p{
    color: #007bff;
}
.user-list {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
}

.user-card {
display: flex;
flex-direction: column;
align-items: center;
margin: 10px; 
}

.user-card img {
width: 40%;
height: auto; 
border-radius: 50%;
cursor: pointer;
}

.user-details {
padding: 10px;
background-color: #f0f0f0;
text-align: center;
}

.user-details h3 {
margin-bottom: 5px;
cursor: pointer;
}

.chatbox {
width: 100%; 
padding: 10px;
background-color: #e6e6e6;
margin-top: 10px;
}
.pagination {
margin-top: 20px;
text-align: center;
}

.pagination button {
background-color: #007bff;
color: white;
border: none;
padding: 10px 20px;
margin: 0 5px;
cursor: pointer;
}

.pagination button:hover {
background-color: #0056b3;
}
  

@media only screen and (max-width: 768px) {
    .chatbox h3{
        font-size: 12px;
    }
    .chatbox{
        width: 200px;
    }

}

@media only screen and (max-width: 600px) {
    .community {
        margin: 10px; 
    }

    .community-header {
        padding: 20px; 
    }

    .user-list {
        grid-template-columns: repeat(1, 1fr); 
        gap: 10px; 
    }

    .user-card img {
        width: 80%; 
    }

    .user-details {
        padding: 5px; 
    }

    .user-details h3 {
        margin-bottom: 3px; 
    }

    .chatbox {
        padding: 5px; 
        margin-top: 5px; 
        width: 250px;
    }

    .pagination {
        margin-top: 10px;
    }

    .pagination button {
        padding: 8px 15px; 
        margin: 0 3px;
    }
}

@media only screen and (max-width: 280px) {
    .chatbox{
        width: 160px;
    }
    .chatbox h3{
        font-size: 10px;
    }

}
