
.forgotPassDiv{
  position: fixed;
  top:25%;
  left: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forgotPassContent{
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  width: 400px;
  height: 400px;
  
  
}
.forgotPassContent form{
  margin-left: 11%;
}

.forgotPassContent h3{
  text-align: center;
  color: rgb(47, 47, 209);
  font-size: 20px;
  margin-top: 40px;
}
.forgotPassContent p{
  font-size: 14px;
  text-align: center;
  padding: 15px;
}
.forgotPassContent button{
  position: absolute;
  left: 27%;
  background-color: rgb(47, 47, 209);
  color: white;
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin-top: 6%;
}
.forgotPassword{
  margin-bottom: 10px;
}
  
  
.forgotLabel label{
  padding: 12px 12px 12px 12px;
  display: inline-block;
  color: #333333;
  font-size: 15px;
}

  
.forgotLabel input{
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 300px;
  border:none;
  border-bottom: 1px solid #ccc;
  outline: none;
  resize: vertical;
  display: inline-block;
  position: relative;
}
.forgotLabel{
  margin-bottom: -10px;
}

  
.cancelForgot{
  font-size: 20px;
  position: absolute;
  top: 20px;
  color:#333333;
  right: 40px;
  cursor: pointer;
}
.cancelForgot:hover{
  font-size: 30px;
}

.remPass p{
  font-size: 11px;
  position: absolute;
  margin-top: 15%;
  left: 28%;
}
.remPass i{
  cursor: pointer;
  color: rgb(47, 47, 209);
}