
.sidebar {
  width: 200px; 
  height: 100vh;
  background-color: #d5d5e7;

}
  
.sidebar ul {
  list-style-type: none;
  padding: 20px;
  margin-top: 20px;
}

.sidebar ul li {
  padding: 10px;
  margin-bottom: 5%;
  cursor: pointer;
}

.dash:hover {
  background-color: #b3b3cc;
}
.dash{
  display: flex;
  margin-bottom: 20%;
}
.dash_icon{
  margin-top: 8.5px;
  font-size: 20px;
}
.tooltip{
  visibility: hidden;
  width: 120px;
  text-align: center;
  color: black;
  text-align: left;
  position: absolute;
  z-index: 1;
  margin-top: 23%;
  margin-left: 55%;
  transition: opacity 0.3s;
}
@media only screen and (max-width:912px) {
  .sidebar{
    width: 90px;
    height: 100%;
  }
}
  
@media only screen and (max-width:860px) {
  .sidebar{
    width: 70px;
    height: 100%;
  }
}

@media only screen and (max-width:540px) {
  .sidebar{
    width: 40px;
    height: 100%;
  }

  .sidebar ul li {
    display: none;
  }
  .dash{
    margin-top: 50px;

  }
  .dash_icon{
    font-size: 15px;
    
    margin-left: 3px;
  }

  .dash_icon:hover .tooltip{
    visibility: visible;
    opacity: 1;
  }

}
@media only screen and (max-width:430px) {
  .sidebar{
    width: 30px;
    height: 100%;
  }
  .dash_icon{
    margin-left: 1px;
  }
}

@media only screen and (max-width:415px) {
  .sidebar{
    width: 30px;
    height: 100%;
  }
  .dash_icon{
    margin-left: 4px;
  }

}

@media only screen and (max-width:280px) {
  .sidebar{
    width: 30px;
    height: 100%;
  }

  .dash_icon{
    margin-left: 1px;
  }
}
