.tasks-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 10px;
}

.task {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.task-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.task-input input {
    margin-right: 10px;
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.task-input button {
    padding:  10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.task-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.task input[type="checkbox"] {
    margin-right: 10px;
}

.task-text {
    flex: 1;
}

.task-text.completed {
    text-decoration: line-through;
}
.task-check{
    position: absolute;
    right: 3%;
    color: #007bff;
}

@media only screen and (max-width: 600px) {
    .tasks-container {
        margin-top: 20px; 
        margin-left: 0; 
    }

    .task-input input {
        width: 230px; 
    }

    .task-input button {
        padding: 10px 15px;
        font-size: 15px;
    }

    .task-check {
        right: 5px; 
    }
}

@media only screen and (max-width: 430px) {
    .task-input input {
        width: 100px; 
    }

}
@media only screen and (max-width: 280px) {
    .task-input button {
        padding: 15px ;
        font-size: 5px;
    }
}
